* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(0deg, rgba(107,241,241,1) 0%, rgba(136,212,197,1) 95%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    transition: background 0.2s linear;
}

body.dark {
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(9,6,36,1) 100%);
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
    box-shadow: 2px 2px 2px 0px rgba(85,101,130,1);

}

.label .ball {
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball{
    transform: translateX(24px);
}

.bi-moon {
    color: rgba(34,193,195,1);
}

.bi-brightness-high {
    color: rgba(107,241,241,1);
}